* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    overflow-x: hidden;
}

li>a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 30px;
    font-weight: 500;
}


ul {
    list-style: none;
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*position: absolute; deleted from browser
    top: 0;
    left: 0;*/
    color: #000;
    background-color: whitesmoke;
    height: 80px;
    /*new style*/
}

.logo {
    margin: 20px;
}

.ul-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

}

.activee {
    color: red;
    font-weight: bold;

}

#myicondiv {
    display: none;
    margin: 0;
    padding: 0;


}


header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.635), rgba(0, 0, 0, 0.648)), url(cssfolder/banner.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_content .h33 {
    font-size: clamp(1rem, 4vw, 2rem);
    margin: 0;
}

.header_content .h11 {
    font-size: clamp(1rem, 6vw, 3rem);
    margin: 30px 0px 45px 0px;
}

.banner-content {
    color: #ffffff;
}

.line {
    background-color: crimson;
    width: 150px;
    height: 4px;
    margin: 10px auto;
}

.ctnn {
    background-color: crimson;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 30px;

    text-decoration: none;
}

/*section part*/
.section-container {
    width: 80%;
    /*background-color: blueviolet;*/
    margin: 160px auto;
}

.section-title {
    text-align: center;

    margin: 100px auto 40px auto;
}

.section-title>h2 {
    font-size: clamp(1.2rem, 4.1vw, 2.2rem);
}

.row {
    margin: 20px;
    display: flex;
    align-items: center;
    /*background-color: green;*/
    width: 100%;
    justify-content: space-between;
    column-gap: 80px;
    width: 63vw;

}


.col>img {
    width: 88%;
}

.col>p {
    font-size: x-large;
    font-weight: 100;
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    font-family: 'Poppins';

}

.col-h2 {
    margin-top: 10px;
}

.col-h2-p {
    margin-bottom: 5px;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    padding: 50px 0 20px 0;

}

.orderbutton {
    font-size: clamp(0.8rem, 1vw, 1rem);
}

/*.mainclass {
    
}*/

.box {
    width: 20%;
    height: 500px;
    background-color: blueviolet;
}

/*---------------------welcome section container-----------------------*/

#welcome-intro-section {
    display: flex;
    height: 500px;
    margin: 50px 20px;
    column-gap: 15px;


}

.eating-welcome-image {
    display: grid;
    place-items: center;
}

.eating-welcome-image img {
    width: 100%;
}

.intro-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 116vw;
}

.intro-content h2 {
    text-transform: capitalize;
}

.intro-content p {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    text-align: justify;
}



/*---------------- slider container section ------------------*/

.whole-slider-container {
    position: relative;
}

.swiper-cards-container {
    width: 100%;
}

.swiper-button-prev i::before,
.swiper-button-next i::before {
    content: '';
}


.card-image-container img {
    display: block;

    height: auto;
}

#swiper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

}

.swiper-wrap-style {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-image-container img {
    width: 100%;
}

.single-card-container {

    border: 1px solid #000;

}

.card-image-intro-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 2px;
    row-gap: 10px;
    background-color: white;
}

.card-image-intro-content h2 {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    margin: 0px;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-image-intro-content p {
    text-align: center;
    margin: 0px;
    font-size: clamp(0.9rem, 1vw, 1rem);
}



/*---------------- slider container section ------------------*/

/*--------------------------contact-section----------------*/
.contact-us-headline {
    width: 100vw;
    color: #000;
    background-color: #E8E8E8;
    margin-top: 50px;


}

.contact-us-headline h1 {

    margin: 0;
    text-align: center;
    position: relative;
    top: 25px;
    color: darkslategrey;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.contact-us-headline h1::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 9rem;
    background-color: #e91e63;
    bottom: 21px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#form-whole-container {
    display: flex;
    width: 100vw;
    margin: auto;
    padding: 60px 100px 100px 100px;
    background-color: #E8E8E8;
}

.form-group {

    margin-bottom: 1rem;
}

.contact-footer-col ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

    font-size: clamp(0.8rem, 1vw, 1rem);
}

.contact-footer-col {
    width: 40vw;
    background-color: #F8F9FA;
    display: flex;
    row-gap: 10px;
    line-height: 2rem;
    padding: 50px;
    border-right: inset;
}

#contactForm {

    margin: auto;
    width: 60vw;
    padding: 50px;
    background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

    font-size: clamp(0.8rem, 1vw, 1rem);

}

input[type="submit"] {
    padding: 0.5rem 1rem;


    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: clamp(0.8rem, 1vw, 1rem);
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {

    font-family: 'Poppins', sans-serif;
    font-weight: 100;

    font-size: clamp(0.8rem, 1vw, 1rem);
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: vertical;
}

.contact-footer-col ul,
.contact-footer-col ul li a {
    margin: 0;
    padding: 0;
}

.contact-footer-col ul li {
    list-style: none;
    margin-bottom: 5px;
}

.contact-footer-col ul li a i {
    padding: 6px;
    font-size: 1rem;
}

.contact-footer-col ul button {
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 50%;
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
    margin: 10px 0 10px 5px;
    cursor: pointer;



}

.contact-footer-col ul button:hover {
    background-color: #000;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: clamp(0.8rem, 1vw, 1rem);
    text-transform: capitalize;
}



/************************* #north-indian-food-section *****************************/
#north-indian-food-section {
    display: flex;

    align-items: center;
    width: 90vw;
    margin: 0 auto 100px auto;

}

#north-indian-dishes-slider-image {

    position: relative;
    height: 534px;
    width: 40%;

}

#north-indian-dishes-slider-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.north-indian-food-description {
    margin-left: 60px;
    line-height: 3rem;
    width: 60%;
    background-color: #F4F4F4;
    padding: 50px;
}

.north-indian-food-description h1 {
    color: crimson;

    font-weight: 700;
}

.north-indian-food-description button {
    padding: 0 20px;
    background-color: crimson;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-weight: 500;


}

.north-indian-food-description button:hover {
    background-color: brown;
}

.north-indian-food-description h2,
.north-indian-food-description p {
    color: #585858;

}

.north-indian-food-description p {
    line-height: 1.5rem;
    text-align: justify;
    font-weight: 500;
}


/*-----------------  Footer section --------------------------*/

.footer-section {
    background-color: #24242b;
    padding: 70px 0;
}

.footer-inner-section {
    width: 90vw;
    margin: auto;

}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col ul,
.footer-col a {
    margin: 0;
    padding: 0;
}

.footer-col h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative;


}

.footer-col h4::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #e91e63;
    left: 0;
    bottom: -10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    text-transform: capitalize;

    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*----------------- media queries ---------------------*/

@media all and (max-width:995px) {

    .logo {
        margin: 0;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .ul-links {
        flex-direction: column;
        background-color: dimgray;
        justify-content: space-evenly;
        height: 100vh;
        width: 100%;
        align-items: center;
        /*margin-top: -900px;*/
        transition: all 0.5s ease-in-out;
        margin-left: -1000px;
        margin-top: auto;
    }

    .addul {
        /*margin-top: 0px;*/
        margin-left: 0;
    }

    .ul-links>li {
        position: relative;
        top: 30px;
        width: 100%;
        text-align: center;

        padding: 10px;

    }

    .ul-links>li:hover {
        background-color: darkslategray;
    }

    #myicondiv {
        display: block;
        position: absolute;
        top: 21px;
        right: 30px;
        font-size: xx-large;
        cursor: pointer;
        /*color:rgba(178, 110, 196, 0.874);*/

    }

    /*section*/
    .row {
        flex-direction: row;
        width: 77vw;

    }

    .col {
        margin-bottom: 30px;
    }

    .section-container {
        margin: 130px auto 60px auto;
    }

    .section-title {
        margin: 40px auto 30px;
    }




}



@media all and (max-width:280px) {
    .logo {
        margin: 0;
        position: absolute;
        top: 29px;
        left: 20px;
    }

    #myicondiv {
        display: block;
        position: absolute;
        top: 27px;
        right: 20px;
        font-size: x-large;
        cursor: pointer;

    }

    .intro-content p {
        font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    }

    .section-title>h2 {
        font-size: clamp(1rem, 4.1vw, 2.2rem);
    }

    .card-image-intro-content h2 {
        font-size: clamp(1.1rem, 2vw, 1.4rem);
    }

    .card-image-intro-content p {
        font-size: clamp(0.8rem, 1vw, 1rem);
    }

    .col-h2-p {
        font-size: clamp(1rem, 2vw, 1.6rem);
    }

    .col>p {
        font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    }

    .orderbutton {
        font-size: clamp(0.7rem, 1vw, 1rem);
    }

}

@media all and (max-width:790px) {
    #welcome-intro-section {

        flex-wrap: wrap;
        height: fit-content;
        row-gap: 15px;
        margin: 20px;
    }

    .eating-welcome-image {
        width: 60%;
        margin: auto;

    }
}

@media all and (max-width:635px) {
    .row {
        flex-direction: column;
        width: 77vw;

    }
}


@media screen and (max-width:700px) {
    .footer-col {
        width: 50%;
        margin-bottom: 50px
    }

    .footer-row div:last-child {
        margin-bottom: 0;
    }

}

@media screen and (min-width:701px) {
    .footer-col {
        width: 33%;
        margin-bottom: 50px;
    }

    .footer-row div:nth-last-child(-n+2) {
        margin-bottom: 0;
    }


}



/************************* #north-indian-food-section *****************************/

@media screen and (max-width:800px) {
    #north-indian-food-section {
        flex-direction: column;
        width: 90vw;
        row-gap: 20px;
        margin: auto;
        /*height: 80vh;*/


    }

    #north-indian-dishes-slider-image {

        width: 90%;
        height: auto;

    }

    .north-indian-food-description {
        margin: auto;
        line-height: 2rem;
        width: 90%;
    }

    .north-indian-food-description button {
        margin-top: 0.6rem;
    }

    .north-indian-food-description p {
        line-height: 1rem;
    }

}

/*@media screen and (min-width:650px) and (max-width:800px) {
    
    #north-indian-food-section {
        
        margin-bottom: 300px;
        

    }
    
}*/

/*@media screen and (max-width:400px) {
    #north-indian-food-section {
        margin-bottom: 155px;

    }
}

@media screen and (min-width:400px) and (max-width:480px) {

    #north-indian-food-section {

        margin-bottom: 11rem;


    }

}



@media screen and (min-width:480px) and (max-width:500px) {

    #north-indian-food-section {

        margin-bottom: 13rem;


    }

}

@media screen and (min-width:500px) and (max-width:520px) {

    #north-indian-food-section {

        margin-bottom: 16rem;


    }
}

@media screen and (min-width:520px) and (max-width:555px) {

    #north-indian-food-section {

        margin-bottom: 17rem;


    }
}





@media screen and (min-width:555px) and (max-width:610px) {

    #north-indian-food-section {

        margin-bottom: 18rem;


    }

}

@media screen and (min-width:610px) and (max-width:650px) {

    #north-indian-food-section {

        margin-bottom: 20rem;


    }

}

@media screen and (min-width:650px) and (max-width:700px) {

    #north-indian-food-section {

        margin-bottom: 340px;


    }

}

@media screen and (min-width:700px) and (max-width:800px) {

    #north-indian-food-section {

        margin-bottom: 370px;


    }

}*/




/************************ Contact Form Section *****************************/
@media all and (max-width:910px) {

    .contact-footer-col,
    #contactForm {
        padding: 50px 25px;

    }

    .contact-footer-col ul button {

        width: 60%;


        cursor: pointer;



    }



}

@media all and (max-width:780px) {

    #form-whole-container {
        flex-direction: column-reverse;
        row-gap: 30px;
        padding: 0;
    }

    .contact-footer-col,
    #contactForm {
        padding: 50px 25px;

    }

    .contact-footer-col {
        width: 80vw;
        margin: 0 auto 50px auto;


    }

    #contactForm {

        margin: auto;
        width: 80vw;
        margin: 50px auto 0 auto;


    }
}

@media all and (max-width:281px) {

    .contact-footer-col,
    #contactForm {
        width: 86vw;

    }
}


/******************* BREAK POINTS *********************/
/******************* FOR SMALL DEVICES *********************/
@media screen and (max-width:320px) {
    .card-image-intro-content {
        padding: 0.3rem;
    }

}



/******************* FOR MEDIUM DEVICES *********************/
@media screen and (max-width:600px) {

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: block;
    }

}

@media screen and (max-width:499.9px) {

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }


    .footer-col {
        width: 100%;

    }

    .footer-row div:last-child {
        margin-bottom: 0;
    }

    .north-indian-food-description {
        padding: 30px;
    }




}